@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
    font-weight: 600;

}

:root{
  --main-color: gray;
  --second-color: rgb(69,181,192);
  --third-color: black;

}

body {
  margin: 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  font-family: "lora", sans-serif;
}

button{
  width: 9%;
  padding: 10px 20px;
  text-align: center;
  background-color: transparent;
  border: 2px solid var(--second-color);
  border-radius: 20px;
  color: var(--second-color);
  cursor: pointer;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}

  /*******************************************************************************************************************************************/

.navlist {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s;
}

.navlist.scrolled {
  background-color: white;
}

  
  .navlist .logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  
  .navlist .logo img {
    height: 40px;
  }
  
  .navlist ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navlist li {
    margin-left: 20px;
  }
  
  .navlist li a {
    display: block;
    color:white;
    padding: 14px 16px;
    margin-left: 10px;
    text-decoration: none;
  }

  .navlist.scrolled li a {
    display: block;
    color:black;
    padding: 14px 16px;
    margin-left: 10px;
    text-decoration: none;
  }

  .bookyourtickets-btn{
    font-family:"Poppins", sans-serif;
  }
  
  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 20px;
    padding: 5px;
  }
  
  .menu-toggle div {
    width: 25px;
    height: 4px;
    background-color: var(--second-color);
    margin: 2px;
    transition: 0.4s;
  }
  
  /* Change for bars to form an "X" */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 5px);
    transform: rotate(-45deg) translate(-6px, 5px);
  }
  
  .change .bar2 {
    opacity: 0;
  }
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -5px);
    transform: rotate(45deg) translate(-6px, -5px);
  }

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

ul li .dropdown-content a{
  color: black;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}


  /*******************************************************************************************************************************************/

  #get-in-touch {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: #f8f9fa;
}

.get-in-touch-rn {
    margin: 30px 0 10px 0;
    font-size: 15px;
    color: var(--second-color);
}

.get-in-touch-text {
    font-size: 40px;
    margin-bottom: 30px;
}

.get-in-touch-content {
    padding: 40px;
    width: 100%;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    width: 20%;
    padding: 10px 20px;
    text-align: center;
    background-color: transparent;
    border: 2px solid var(--second-color);
    border-radius: 20px;
    color: var(--second-color);
    cursor: pointer;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
}

/* Location section */
.location {
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-big-content {
    margin-top: 7rem;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
}

.location-text-ln {
    font-size: large;
    font-weight: bold;
}

.location-text-ln i {
    margin-right: 10px;
}

.location-text {
    font-size: large;
    margin: 10px 0;
}

.location-content,
.email-content,
.phone-content {
    margin: 20px 0px;
}

/* Footer Styles */
footer {
  background-color: rgb(197, 197, 197);
  color: black;
  display: block;
  justify-content: flex-start;
}

.footer-container {
  padding: 20px 0 0 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-logo img {
    width: 150px;
    margin-bottom: 10px;
}

.footer-links {
    margin: 20px 0;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    display: block;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-links ul li {
    margin: 10px 0px;
}

.footer-links ul li a {
    color: black;
    text-decoration: none;
}

.footer-contact p {
    margin: 5px 0;
}

.footer-social {
    margin: 20px 0;
}

.footer-social a {
    margin: 0 10px;
    color: black;
    display: inline-block;
}

.footer-social svg{
  width: 25px;
  height: 25px;
}

.footer-bottom {
    margin-top: 20px;
    background-color: #787878;
}

.footer-bottom p {
    margin: 0;
    font-size: 12px;
    color: white;
    text-align: center;
    padding: 10px 10px;
  }

  /* hover */

  button:hover{
    color:var(--third-color);
    border-color: var(--third-color);
  }

  #nav-links a:hover{
    color: var(--second-color);
  }

  #nav-links a.active{
    color: var(--second-color);
  }

  .footer-links a.active{
    color: var(--second-color);
  }

  .footer-links a:hover {
    color: var(--second-color);
  }

  .footer-social a:hover {
    transform: scale(1.2); 
}

/*******************************************************************************************************************************************/

    @media (max-width: 768px) {
      .navlist {
        padding: 10px;
        width: 100%;
      }
    
      .menu-toggle {
        display: flex;
      }
    
      .navlist ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #f9f9f9;
        width: 60%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      }
    
      .navlist ul.show {
        display: flex;
      }
    
      .navlist li {
        margin-left: 0;
        text-align: left;
      }
    
      .navlist li a {
        padding: 15px;
        color: black;
      }

    body {
      margin: 0;
      }

      .location-big-content{
        margin-top: 0;
        margin-bottom: 20px;
      }

      #get-in-touch {
        padding: 0px;
        grid-template-columns: 1fr;
    }

    .get-in-touch-content{
      padding: 20px;
    }

      .get-in-touch-text{
        font-size: 20px;
        font-weight: 700;
      }

      button[type="submit"]{
        width: 50%;
      }

      .footer-logo img {
        width: 100px;
        margin-bottom: 10px;
    }

      .footer-bottom p {
          margin: 0;
          font-size: 13px;
          color: white;
          text-align: center;
          padding: 10px 10px;
        }
  

  }

    
  @media (min-width: 769px) {
    
    .navlist ul {
      display: flex !important;
    }

  }
  